@media only screen and (max-width: 1755px) {
  body {
    .footer {
      .footer-nav {
        .footer-nav-item {
          padding-right: 65px;
        }
      }
    }
  }

}

@media only screen and (max-width: 1620px) {
  body {
    .footer {
      .footer-nav {
        .footer-nav-item {
          padding-right: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1490px) {
  body {
    .footer {
      .footer-nav {
        .footer-nav-item {
          padding-right: 50px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1450px) {
  body {
    .footer {
      .footer-nav {
        .footer-nav-item {
          padding-right: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1305px) {

  body {
    .footer {
      .footer-nav {
        .footer-nav-item {
          padding-right: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  body {


  }
}

@media only screen and (max-width: 993px) {
  body {

    .bg-t-5 {
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 768px) {
  body {


  }
}

@media only screen and (max-width: 575px) {
  body {

  }
}

@media only screen and (max-width: 480px) {
  body {


  }
}